<div class="container d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-3">Calculator</h3>
            
            <div class="mb-3">
                <label for="value1" class="form-label">Value 1</label>
                <input type="number" id="value1" class="form-control" [(ngModel)]="newOperation.value1">
            </div>

            <div class="mb-3">
                <label for="value2" class="form-label">Value 2</label>
                <input type="number" id="value2" class="form-control" [(ngModel)]="newOperation.value2">
            </div>

            <div class="mb-3">
                <label for="operation" class="form-label">Operation</label>
                <select id="operation" class="form-select" [(ngModel)]="newOperation.operationType">
                    <option value="add">Addition</option>
                    <option value="substract">Substract</option>
                    <option value="multiply">Multiplication</option>
                    <option value="divide">Division</option>
                </select>
            </div>

            <button class="btn btn-primary w-100" (click)="calculate()">Calculate</button>

            <div class="alert alert-primary text-center mt-3" *ngIf="newResponse">
                <p><strong>Result:</strong> {{ newResponse?.result }}</p>
                <p><strong>Message:</strong> {{ newResponse?.message }}</p>
            </div>
        </div>
    </div>
</div>
